@page "/"

<PageTitle>Home</PageTitle>

<section>
	<h1>Blazor Mail Testing</h1>
	<p>This is a Resend API email sending test. Enter your email below and a message </p>

	@if (!string.IsNullOrWhiteSpace(ErrorDescription))
	{
		<div class="alert alert-danger">
			<h3>Error:</h3>
			<p>@ErrorDescription</p>
		</div>
	}

	<div class="row" style="max-width: 640px">
		<div class="p-3">
			<label for="recipient" class="form-label">Email Recepient</label>
			<InputText id="recipient" class="form-control" @bind-Value="recipient" />
		</div>
		<div class ="p-3">
			<label for="message" class="form-label">Email Message</label>
			<InputTextArea id="message" class="form-control" @bind-Value="message" />
		</div>

		<button class="m-4 mt-0 btn btn-primary w-auto" @onclick="SendMail">Send Mail</button>
		@if (!string.IsNullOrEmpty(SuccessMsg))
		{
			<p class="alert alert-success">@SuccessMsg</p>
		}
	</div>
</section>

<section>
	<h2>Message Preview</h2>
	<div class="border rounded p-3">
		<p><strong>Hello there!</strong></p>

		<p>This email is a test message sent from a Blazor app using Resend's email API. The sender has an additional message below:</p>

		@message
	</div>
</section>