@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Mail Testing</h1>

<button class="btn btn-primary" @onclick="SendMail">Send Mail</button>

<p>@SuccessMsg</p>

@if (!string.IsNullOrWhiteSpace(ErrorDescription))
{
	<div>
		<h3>Error:</h3>
		<p>@ErrorDescription</p>
	</div>
}